$primary-color: #f27145;
.member__item {
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  .member__info {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    opacity: 1;
    bottom: 0;
    align-content: end;
    background-image: linear-gradient(
      to bottom,
      rgba(23, 92, 211, 0) 0%,
      rgba(19, 85, 198, 0.9) 70.88%
    );
    background-size: cover;
    width: 100%;
    height: 84px;
  }
  &:hover .member__info p {
    color: $primary-color;
    transition: all 0.3s ease-in;
  }
  .member__img {
    border-radius: 1rem;
  }
}
.service_item {
  padding: 16px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in;
  border-radius: 24px;
  cursor: pointer;
  &:hover {
    border: 1px solid $primary-color;
  }
}
