.ckeditor_container .cke_editable * {
  all: revert-layer;
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
    vertical-align: middle;
  }
}
