.ckeditor_container .cke_editable * {
  all: revert-layer;
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
    vertical-align: middle;
  }
}

.ckeditor_container {
  .cke_editable {
    table td,
    table th {
      padding: 8px;
    }

    table {
      width: 100%;
      text-align: center;
    }
    .cke_show_borders table.cke_show_border,
    .cke_show_borders table.cke_show_border > tr > td,
    .cke_show_borders table.cke_show_border > tr > th,
    .cke_show_borders table.cke_show_border > tbody > tr > td,
    .cke_show_borders table.cke_show_border > tbody > tr > th,
    .cke_show_borders table.cke_show_border > thead > tr > td,
    .cke_show_borders table.cke_show_border > thead > tr > th,
    .cke_show_borders table.cke_show_border > tfoot > tr > td,
    .cke_show_borders table.cke_show_border > tfoot > tr > th {
      border: #d3d3d3 1px dotted;
    }
  }
}
