@media (min-width: 768px) {
  .members__group {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
  }
}
@media (min-width: 1024px) {
  .members__group {
    .swiper-wrapper {
      grid-template-columns: repeat(6, 1fr);
      gap: 24px;
    }
  }
}
