@media (min-width: 768px) {
  .members__group {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
  }
}
@media (min-width: 1024px) {
  .members__group {
    .swiper-wrapper {
      grid-template-columns: repeat(6, 1fr);
      gap: 24px;
    }
  }
}
.toc-container {
  ul {
    line-height: 1.8;
    list-style-type: none;
    counter-reset: item;
    > li {
      margin: 0;
    }
    li {
      counter-increment: item;
      ul {
        margin-left: 20px;
        counter-reset: item;
      }
      &:before {
        content: counters(item, ".") ". ";
        font-weight: bold;
      }

      ul {
        counter-reset: item;
      }
    }
  }
}
