.booking-form-birthday {
  .react-datepicker-popper {
    z-index: 9999;
    margin-top: 8px;
  }
  .react-datepicker-wrapper {
    width: 100%;
    height: 20.8px;
  }
  .react-datepicker {
    @apply w-[250px] md:w-[350px];
    &__month-container {
      width: 100%;
    }
    &__input-container input {
      width: 100%;
      font-size: 14px;
      padding: 0;
      text-indent: 0.875rem;
      border: none;
    }
    font-size: 14px;
    &__day-name,
    &__day,
    &__time-name {
      @apply w-8 leading-8 md:w-12 md:leading-10;
      display: inline-block;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
  .react-datepicker__month-dropdown-container,
  .react-datepicker__year-dropdown-container {
    margin-top: 12px;
  }
  .react-datepicker__month-select,
  .react-datepicker__year-select {
    padding: 8px 12px;
    background-color: unset;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    scrollbar-width: thin;
    scrollbar-color: #4caf50 #f1f1f1;
    overflow-y: auto;
  }
  .react-datepicker__header select::-webkit-scrollbar {
    width: 4px;
  }
  .react-datepicker__header select::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .react-datepicker__header select::-webkit-scrollbar-thumb {
    background-color: rgb(59, 130, 246);
    border-radius: 10px;
  }

  .react-datepicker__header select::-webkit-scrollbar-thumb:hover {
    background-color: rgb(59, 130, 246);
  }

  @media (max-width: 767px) {
    .react-datepicker__month-dropdown-container,
    .react-datepicker__year-dropdown-container {
      margin-right: 0px;
      margin-left: 10px;
    }
    .react-datepicker__month-select,
    .react-datepicker__year-select {
      padding: 4px;
    }
  }
}
