#progress-bar.progress-bar {
  pointer-events: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
}

.progress-bar__bar {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.progress-bar__peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
