$primary-color: #f27145;
$primary-color-blue: #1570ef;
$color-blue-700: #2e90fa;

.pacifico_font {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.text_hover_default:hover {
  color: $primary-color;
}
.header__menu {
  @apply py-4 relative;
  &:after {
    content: "";
    height: 1px;
    width: 100%;
    bottom: -10px;
    position: absolute;
    background-color: #fff;
    opacity: 0.2;
    display: block;
  }
  &_item {
    @apply relative h-8 hover:text-white text-[#EAECF0];
    transition: all 0.3s ease-in;
    &:hover:after {
      background-color: $primary-color;
      height: 3px;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 32px;
      right: 0;
      transition: all 0.3s ease-in;
    }
  }
}
.header__sticky {
  top: 0;
  width: 100%;
  z-index: 99;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #d0d5dd;
  @apply transition-all duration-500 ease-in translate-y-0 opacity-100;
  .header__menu_item {
    color: #283448;
    padding-bottom: 10px;
  }
  .header__menu_search {
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  .header__menu_phone_contact {
    @apply text-blue-700;
    border: 1px solid #2e90fa;
  }
}
// Visa step
.progressbar {
  display: flex;
  counter-reset: step;
  &__step {
    list-style: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    &:before {
      content: "B" counter(step);
      counter-increment: step;
      width: 32px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: #fff;
      color: #175cd3;
      font-weight: 600;
      transition: all 0.3s linear;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #eaecf0;
      top: 15px;
      left: 50%;
      z-index: -1;
    }
    &_title {
      @extend .pacifico_font;
      @apply text-[28px] font-normal mt-2 md:mt-5;
      transition: all 0.3s linear;
    }
    &:hover {
      &:before {
        background-color: #016de2;
        @apply text-white;
      }
      .progressbar__step_title {
        color: $primary-color;
      }
    }
    &:last-child:after {
      content: none;
    }
  }
}

// End

.member__item {
  position: relative;
  cursor: pointer;
  &:hover .member__img {
    filter: grayscale(0);
  }
  &:hover .member__info {
    opacity: 1;
  }
  .member__info {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    opacity: 0;
    bottom: 0;
    align-content: end;
    background-image: linear-gradient(
      to bottom,
      rgba(23, 92, 211, 0) 0%,
      rgba(19, 85, 198, 0.9) 70.88%
    );
    background-size: cover;
    width: 90%;
    height: 110px;
    transition: all 0.3s ease-in;
    p:first-child {
      color: $primary-color;
    }
  }
  .member__img {
    border-radius: 1rem;
    transition: 0.4s;
  }
}
.back__top {
  @apply fixed bottom-[20%] right-1 z-[999];
  &_btn {
    @apply w-16 flex flex-col items-center h-[78px] transition duration-500 opacity-0 transform translate-y-10;
  }
  &_icon {
    width: 48px;
    height: 45.6px;
  }
}
@media (max-width: 767px) {
  .progressbar {
    flex-direction: column;
    &__step:after {
      left: 13%;
      top: 25%;
      width: 2px;
      height: 100%;
    }
    &__step:before {
      position: absolute;
      left: 9%;
      top: 13%;
    }
  }
}
@media (max-width: 1024px) {
  .hide__background_mb {
    background: unset !important;
  }
}
