$primary-color: #f27145;
$primary-color-blue: #1570ef;
$color-blue-700: #2e90fa;

// .pacifico_font {
//   font-family: "Pacifico", cursive;
//   font-weight: 400;
//   font-style: normal;
// }
.text_hover_default {
  @apply transition-colors duration-300 hover:!text-[#f27145]  cursor-pointer;
}
.header__menu {
  @apply pt-4 pb-[10px] fixed top-0 w-full;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &_item {
    @apply relative h-8 hover:text-[#f27145] transition-colors duration-300 text-[#EAECF0];
    // transition: hover 0.4s ease-in;
    &:hover {
      &:after {
        background-color: $primary-color;
        height: 3px;
      }
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 32px;
      right: 0;
      transition: all 0.3s ease-in;
    }
  }
  &_item.active {
    color: $primary-color !important;
    &:after {
      background-color: $primary-color;
      height: 3px;
    }
  }
  &_sub_menu {
    @apply flex flex-col transition-all lg:h-72 duration-500 ease-in-out 
    border-gray-300 border-2 py-2 space-y-2 absolute right-0 w-[250px] 
    bg-white text-black px-4 rounded-sm [&>a]:duration-300 [&>a]:transition-all [&>a]:ease-in;
  }
}
.header__sticky {
  @apply transition-all duration-300 ease-in opacity-100;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #d0d5dd;
  .header__menu_item {
    color: #283448;
    // padding-bottom: 10px;
    &:hover {
      color: $primary-color;
    }
  }
  .header__menu_search {
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  .header__menu_phone_contact {
    color: #175cd3;
    border: 1px solid #2e90fa;
  }
  .nav_icon {
    span {
      background-color: #000;
    }
  }
}
.header__menu_item {
  &:hover .header__sub_menu_item {
    color: #000;
    max-height: 50px;
    opacity: 1;
    z-index: 10;
    visibility: visible;
    transform: translateY(0px);
  }
  .header__sub_menu_item {
    @apply transition-all duration-300;
    display: flex;
    width: max-content;
    left: -20px;
    top: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 14px 12px;
    max-height: 0px;
    opacity: 0;
    z-index: -1;
    transform: translateY(-10px);
    visibility: hidden;
    position: absolute;
    & a {
      margin: 0 12px;
      &:hover {
        @apply transition-colors duration-300 text-primary;
      }
    }
  }
}

.header__menu_phone_contact {
  @extend .text_hover_default;
}
.nav_icon {
  width: 36px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3.2px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.4s ease-in;
  }
  span:nth-child(1) {
    top: 8px;
    transform-origin: right center;
  }

  span:nth-child(2) {
    top: 16px;
    transform-origin: right center;
  }

  span:nth-child(3) {
    top: 24px;
    transform-origin: right center;
  }
  &.open {
    span:nth-child(1) {
      transform: rotate(-45deg) translate(8px, 12px);
      top: 3px;
      left: -8px;
    }
    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(45deg) translate(11px, -8px);
      top: 29px;
      left: -8px;
    }
  }
}
// Visa step
.progressbar {
  display: flex;
  counter-reset: step;
  &__step {
    list-style: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    &:before {
      content: "B" counter(step);
      counter-increment: step;
      width: 32px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: #fff;
      color: #175cd3;
      font-weight: 600;
      transition: all 0.3s linear;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #eaecf0;
      top: 15px;
      left: 50%;
      z-index: -1;
    }
    &_title {
      @apply text-[28px] font-normal mt-2 md:mt-5;
      transition: all 0.3s linear;
    }
    &:hover {
      &:before {
        background-color: #016de2;
        @apply text-white;
      }
      .progressbar__step_title {
        color: $primary-color;
      }
    }
    &:last-child:after {
      content: none;
    }
  }
}

// End
.member__item {
  position: relative;
  cursor: pointer;
  &:hover .member__img {
    filter: grayscale(0);
  }
  &:hover .member__info {
    opacity: 1;
  }
  .member__info {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    opacity: 0;
    bottom: 0;
    align-content: end;
    background-image: linear-gradient(
      to bottom,
      rgba(23, 92, 211, 0) 0%,
      rgba(19, 85, 198, 0.9) 70.88%
    );
    background-size: cover;
    width: 90%;
    height: 110px;
    transition: all 0.3s ease-in;
    p:first-child {
      color: $primary-color;
    }
  }
  .member__img {
    border-radius: 1rem;
    transition: 0.4s;
  }
}
.back__top {
  @apply fixed bottom-[10%] right-1 z-[999];
  &_btn {
    @apply w-16 flex flex-col items-center h-[78px] transition duration-500 opacity-0 transform translate-y-10;
  }
  &_icon {
    width: 48px;
    height: 45.6px;
  }
}

@media (max-width: 767px) {
  .progressbar {
    flex-direction: column;
    &__step:after {
      left: 13%;
      top: 25%;
      width: 2px;
      height: 100%;
    }
    &__step:before {
      position: absolute;
      left: 9%;
      top: 13%;
    }
  }
}
@media (max-width: 1024px) {
  .hide__background_mb {
    background: unset !important;
  }
}
