$primary-color: #1570ef;
.pacifico_font {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.text_hover_default:hover {
  color: #f27145;
}
.header__menu {
  position: relative;
  &:after {
    content: "";
    height: 1px;
    width: 100%;
    bottom: -10px;
    position: absolute;
    background-color: #fff;
    opacity: 0.2;
    display: block;
  }
}
// Visa step
.progressbar {
  display: flex;
  counter-reset: step;
  &__step {
    list-style: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    &:before {
      content: "B" counter(step);
      counter-increment: step;
      width: 32px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: #fff;
      color: #175cd3;
      font-weight: 600;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #eaecf0;
      top: 15px;
      left: 50%;
      z-index: -1;
    }
    &:last-child:after {
      content: none;
    }
  }
}

@media (max-width: 767px) {
  .progressbar {
    flex-direction: column;
    &__step:after {
      left: 13%;
      top: 25%;
      width: 2px;
      height: 100%;
    }
    &__step:before {
      position: absolute;
      left: 9%;
      top: 13%;
    }
  }
}
// End
